<div class="row">
    <div class="col-md-6 col-xs-12">
        <div id="product-carousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img ng-src="{{productDetails.data.media.images[0].smallHdUrl}}" alt="">
                </div>
                <div class="item" ng-repeat="product in productDetails.data.media.images">
                    <img ng-src="{{product.smallHdUrl}}" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#product-carousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#product-carousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="item-details">
            <h2>{{productDetails.data.name}}</h2>
            <div class="size-block">
                <p>Size: </p>
                <p class="item-size" ng-repeat="product in productDetails.data.units">{{product.size}}</p>
            </div>
            <div class="price-block">
                <p>Price: </p>
                <p class="price">{{productDetails.data.units[0].price.formatted}}</p>
            </div>
        </div>

    </div>
</div>