<div class="btn-back">
    <a href="/products">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
</div>
<div class="row relative details-container">
    <div ng-show="showMess" class="cart-mess absolute alert alert-success">Your product was added to the cart!</div>
    <div class="col-md-6 col-xs-12">
        <div id="product-carousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img ng-src="{{productDetails.data.media.images[0].smallHdUrl}}" alt="">
                </div>
                <div class="item" ng-repeat="product in productDetails.data.media.images">
                    <img ng-src="{{product.smallHdUrl}}" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#product-carousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#product-carousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="item-details">
            <h2>{{productDetails.data.name}}</h2>
            <div class="size-block flex-wrap attribute">
                <p class="name-hl">Size: </p>
                <p class="details-field" ng-repeat="product in productDetails.data.units">{{product.size}}</p>
            </div>
            <div class="price-block attribute">
                <p class="name-hl">Price: </p>
                <p class="details-field">{{productDetails.data.units[0].price.formatted}}</p>
            </div>
            <div class="attribute">
                <label for="quantity" class="name-hl">Quantity: </label>
                <select id="quantity" class="form-control">
                    <option ng-repeat="quantity in optionsArray" value="{{quantity}}">{{quantity}}</option>
                </select>
            </div>
            <div class="color-block attribute">
                <p class="name-hl">Color:</p>
                <p class="attribute-detail">{{productDetails.data.color}}</p>
            </div>
            <div class="season-block attribute">
                <p class="name-hl">Season:</p>
                <p class="attribute-detail">{{productDetails.data.season}}</p>
            </div>
            <button ng-click="storageProducts('myProducts', productDetails.data); showCartMessage();"
                    class="btn pull-right btn-myPrimary btn-add">Add to cart
            </button>
        </div>

    </div>
</div>