.btn-myPrimary {
  background-color: $color-orange;
  transition: .3s;

  &.btn {
    padding: 0;
  }

  a {
    padding: 10px 20px;
    display: inline-block;
    color: $color-grey-primary;
  }

  &:hover {
    box-shadow: 0 0 10px $color-orange;
  }

  i {
    color: $color-grey-primary;
  }
}

.btn-add {
  padding: 10px 20px !important;
  color: $color-grey-primary;
}

.btn-buy {
  a {
    padding: 10px 35px;
    transition: .3s;

    &:hover {
      text-decoration: none;
      color: $color-grey-dark;
    }
  }
}

.btn-back {
  display: inline-block;
  background: linear-gradient(to bottom, $color-grey-medium 0, #fff 100%);
  border-radius: 10px;
  margin: 10px 0;

  a {
    padding: 6px 24px;
    display: inline-block;

    i {
      font-size: 16px;
      color: $color-grey-dark;
    }
  }
}