footer {
  background-color: $color-grey-medium;
  padding: 15px 0;

  h4 {
    color: $color-black;
  }
  .links-block {
    margin-left: 10px;
  }
  a {
    color: $color-grey-primary;
    padding: 3px 0;
    display: table;
    transition: 0.3s;

    &:hover {
      color: $color-grey-dark;
      text-decoration: none;
      transform: scale(1.2);
    }
  }

  .icon-list {
    display: flex;

    a {
      font-size: 20px;
      flex-basis: 25%;
      display: flex;
      justify-content: center;
    }
  }
}