main {
  flex: 1;
  overflow: hidden;
  padding: 25px 0;
}

  .product-item {
    text-align: center;
    padding: 10px 0;

    .product-img {
      display: inline-block;
      transition: .3s;
      padding-bottom: 10px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .item-details {

    .size-block,
    .price-block{
      display: flex;
      padding: 0 5px;
    }


  }